.contact-us {
  width: 100%;
  height: min-content;
  /* border: 1px solid red; */
}

.contact-us-main {
  width: 100%;
  height: 100dvh;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/Assets/contact-us.jpg") lightgray 50% / cover no-repeat;
}

.contact-us-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
   }

.contact-us-main-content {
  padding: 40px;
  width: 80%;
  height: 70dvh;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.contact-us-icon {
  width: min-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  cursor: pointer;
}

.contact-us-text {
  width: 75%;
  /* width: 1051px; */
  height: min-content;
  padding: 100px 80px;
  border: 0.5px solid #111e57; /*! make animated line */
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(56.29999923706055px);
  /* display: flex; */
  /* flex-direction: column; */
}
.contact-us-text h1 {
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 45px;
}

.contact-us-text p {
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 55px;
}

.contact-us-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.contact-us-input input,
.input {
  width: 48%;
  height: 40px;
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff80;
}

/* Add placeholder color styles */
.contact-us-input input::placeholder,
.input::placeholder {
  color: #fff;
}

/* Remove borders on focus/hover but keep bottom border */
.contact-us-input input:focus,
.input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}

#send-btn {
  position: absolute;
  bottom: -5px;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#send-btn h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  color: #111e57;
  font-family: "Nunito Sans";
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

#send-btn:hover h4 {
  font-weight: 700 !important;
  letter-spacing: 5px;
}
