.footer {
  background: #111e57;
  color: #fff;
  height: min-content;
  padding: 65px 45px;
  opacity: 1;
  will-change: transform, opacity;
}

.footer-logo {
  margin-bottom: 3rem;
}

.footer-top {
  width: 100%;
  /* height: 60%; */
  height: min-content;
  display: flex;
  align-items: end;
  justify-content: space-between;
  /* border: 1px solid green; */
}
.footer-text p {
  font-size: clamp(1.0625rem, 1vw, 1.1875rem);
  font-weight: 300;
  margin-bottom: 2rem;
  font-family: "Nunito Sans";
}
.footer-top-left {
  width: 40%;
  height: 100%;
  /* border: 1px solid paleturquoise; */
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}
.footer-button {
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  font-family: "Nunito Sans";
}

.footer-button button {
  font-size: clamp(0.9375rem, 1vw, 1.125rem);
  padding: 7px 41px;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}
/* footer top right */
.footer-top-right {
  width: auto;
  height: 100%;
  /* border: 1px solid palevioletred; */
  display: flex;
  align-items: end;
  justify-content: end;
  font-family: "Nunito Sans";
}
.footer-top-right p {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Nunito Sans";
  margin-right: 15px;
}
.footer-top-right span {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Nunito Sans";
}
.footer-top-right-lst {
  display: none;
}

/*! bottom */
.footer-bottom {
  width: 100%;
  /* height: 100px !important; */
  display: flex;
  padding-block: 15px;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between !important;
  /* border: 1px solid peru !important; */
}

.footer-bottom-left {
  /* width: 50%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid green; */
}
.footer-bottom-left h4 {
  margin-right: 75px;
  font-size: clamp(1.0625rem, 1vw, 1.25rem);
  font-family: "Nunito Sans";
}

.footer-bottom-right {
  /* width: 50%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom-right a {
  margin-left: 75px;
  font-size: clamp(1.0625rem, 1vw, 1.25rem);
  text-decoration: none;
  color: white;
  font-family: "Nunito Sans";
}

/*! last */
.footer-last {
  margin-top: 60px;
  color: #bababa;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footer-last p{
  font-size: 1.25rem !important;
}
@media (max-width: 1500px) {
  .footer {
    padding: 65px 35px;
  }
  .footer-bottom-left h4 {
    margin-right: 65px;
  }

  .footer-bottom-right a {
    margin-left: 65px;
  }
}

@media (max-width: 1080px) {
  .footer {
    padding: 55px 25px;
  }
  .footer-top-left {
    width: 60%;
  }
  .footer-bottom-left h4 {
    margin-right: 45px;
  }

  .footer-bottom-right a {
    margin-left: 45px;
  }
}

@media (max-width: 875px) {
  .footer {
    padding: 55px 10px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: start;
  }
  .footer-bottom-right a {
    margin-left: 0px;
    margin-right: 65px;
  }
  .footer-top-right {
    display: none;
  }
  .footer-top-right-lst {
    display: flex;
    margin-top: 35px;
  }
  .footer-top-right-lst p {
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "Nunito Sans";
    margin-right: 15px;
  }
  .footer-top-right-lst span {
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Nunito Sans";
  }
  .footer-top-left {
    width: 100%;
  }
  .footer-bottom-left {
    width: 100%;
    margin-bottom: 35px;
  }
  .footer-bottom-right {
    width: 100%;
  }
}
