.groupdetails {
  width: 100%;
  height: 120vh;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #f5f5f5;
}

.belowtoprow {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
.belowtoprow span {
  display: flex;
  justify-content: start;
  align-items: center;
  /* border: 1px solid black; */
  gap: 5px;
  width: min-content;
  white-space: nowrap;
  position: relative;
  top: -15px;
}
.belowtoprow img {
  width: 100%;
}
.belowtoprow h6 {
  color: #000;
  font-family: "Nunito Sans";
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.belowtoprow p {
  color: #000;

  font-family: "Nunito Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
}
.detailscenter {
  width: 100%;
  height: min-content;
  position: relative;
  margin-block: 35px;
}
.detailscenter h1 {
  color: #273a8c;
  font-family: "Nunito Sans";
  font-size: clamp(1.5rem, 2.5vw, 2.6875rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
#groupimg {
  width: 20vw;
  height: 55vh;
  flex-shrink: 0;
  position: absolute;
  right: -120px;
  top: -33vh;
}
.detailsbottom {
  position: relative;
}
.detailsbottom img {
  width: 100%;
  height: 100%;
  aspect-ratio: 15 / 8;
}
#rectangelholder {
  position: absolute;
  bottom: -7px !important;
  right: 0;
  /* background-image: url('/Assets/Rectangle 16.png'); */
}
#rectangelholder h5 {
  width: 85% !important;
  position: absolute;
  /* bottom: -5px; */
  /* right: 45% !important; */
  top: 50% !important;
  transform: translate(50%, -50%) !important;
  /* font-size: 20px !important; */
  color: #5b5b5b;
  font-family: "Nunito Sans";
  font-size: clamp(1.1rem, 1.3vw, 1.375rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.detailscenter h5 {
  display: none;
}

.detailsbottom #mobimg{
  display: none;
}

@media (max-width: 1500px) {
  .groupdetails {
    padding: 70px 30px;
  }
  #groupimg {
    width: 20vw;
    height: 45vh;
    flex-shrink: 0;
    position: absolute;
    right: -60px;
    top: -15vh;
  }
  #rectangelholder {
    width: 75%;
  }
}

@media (max-width: 1050px) {
  #lapimg{
    display: none;
  }
  .detailsbottom #mobimg{
    display: block;
    height: 400px !important;
    
    margin-top: 40px;
  }
  .detailscenter svg {
    display: none;
  }
  .detailscenter h5 {
    display: block;
    margin-top: 20px;
    /* margin-bottom: 25px; */
  }
  #rectangelholder {
    display: none;
  }
  .groupdetails {
    height: min-content;
    justify-content: space-evenly;
  }
  .groupdetails .belowtoprow {
    /* margin-top: -10px; */
    gap: 5px;
    
  }
  .groupdetails .belowtoprow h6{
    position: relative;
    /* left: -3px; */
    /* font-size: .9rem !important; */
  }
  .groupdetails .belowtoprow p{
    /* font-size: .7rem !important; */
    position: relative;
    left: 0px;

  }
  .groupdetails .belowtoprow img {
    /* position: relative;
    width: 186%;
    right: 0px;
    margin-bottom: 2px; */
    /* top: -3px; */
    position: relative;
    width: 286%;
    right: 0px;
  }
  .groupdetails {
    padding: 50px 15px;
  }
}
