.Navbar {
  width: 100%;
  height: 150px;
  margin-bottom: -150px;
  position: relative;
  /* border: 1px solid #fff; */
  z-index: 2;
  padding: 30px 50px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 13.5rem;
  height: 3.2375rem;
}
.links {
  position: relative;
  z-index: 1;
  color: aqua !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  position: relative;
}
.links a {
  color: #fff;
  text-decoration: none;
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: capitalize;
  line-height: normal;
  pointer-events: all;
  z-index: 10;
  position: relative;
}
#border{
    border-bottom: 1px solid #fff;
}
#link-lines{
  position:absolute  !important;
  right: 0% !important;
  top: -12dvh !important;
  width: 30vw;
  height: 60vh;
  top: 0;
}
#link-lines2{
  position:absolute  !important;
  right: 0% !important;
  top: 39dvh !important;
  width: 30vw;
  height: 60vh;
  top: 0;
}
