.service.bottomhomerow{
    border: none;
}
.service .bottomhomerow .bleft .bbox h6,.service .bottomhomerow .bleft .bbox p,.service .bottomhomerow .bright img,.service .bottomhomerow .bright h6{
    display: none !important;
}
.service{
    height: min-content;
}
